/* TODO: prefix these with color- so that you whats a color, same for fonts */
$primary-color: #DCFF00;
$secondary-color: rgba(62, 17, 66, 0.75);
$orange: #E9AB3B;
$heading-font: 'Fredoka One', monospace;
$body-font: 'Marvel', sans-serif; ;
/* font-family: 'News Cycle', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Chewy', cursive;
font-family: 'Advent Pro', sans-serif;
font-family: 'Marvel', sans-serif; */

/* TODO: dont style tags / elements directly.
  put a line of whitespace between presetnationl and structural styles.
  dont use class naemes that describe the content.
  nesting is OK i guess, but you cant re-use nested classes really that well and your
  styles are directly coupled to the DOM. im not a fan of nesting really.
  i find using a unique class name for each thing actually works pretty well
*/
body {
  background-color: $secondary-color;
  font-family: $body-font;
  font-size: 24px;

  .hashtagity {
    width: 90%;
    margin: 0 auto;
  }

  .hashtagity h1 {
    color: $orange;
    font-family: $heading-font;
    letter-spacing: 14px;
    font-size: 86px;
    margin-left: 28%;
    margin-right: 30%;
    padding: 10px;
  }
  .text-counter {
    float: right;
    margin-right: 200px;
  }
  .new-hash-tag {
    width:65%;
    height: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    font-size: 22px;
    font-family: $body-font;
  }
  .hash-options {
    width:65%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    font-size: 26px;
    color: black;
  }
  .create-hash {
    width: 450px;
    height: 50px;
    margin-left: 35%;
    margin-right: 35%;
    border: none;
    border-radius: 10px;
    font-size: 34;
    font-family: $heading-font;
    background-color: $orange;
    color: $secondary-color;
  }
  .hashtagity ul {
    list-style-type: none;

    li {
      font-size: 36px;
    }
    .icons {
      i {
        font-size: 32px;
      }
      .hide-delete {
        display: none;
      }
      .show-delete {
        display: inline;
      }
      .hide-edit {
        display: none;
      }
      .show-edit {
        display: inline;
      }
    }
  }
  .hash-tag-list input.edit {
    display: none;
  }
  .hash-tag-list .editing label {
    display: none;
  }
  .hash-tag-list .editing input.edit {
    width: 200px;
    height: 50px;
    font-size: 22px;
    font-family: $body-font;
    display: inline;
  }
}

.error {
  color: red;
  font-size: 24px;
}

.icons a {
 color: black;
}
