$color-secondary: rgba(62, 17, 66, 0.75);
$color-secondary-opacity: rgba(62, 17, 66, 0.4);
$color-orange: #E9AB3B;
$font-body: 'Marvel', sans-serif;
$font-kranky: 'Kranky', monospace;

.hashtagity-body {
  font-family: $font-body;
  font-size: 28px;
}
.hashtagity-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}
.hashtagity-title {
  color: $color-secondary;
  font-family: $font-kranky;

  letter-spacing: 14px;
  font-size: 60px;
  margin-left: 33%;
  padding: 10px;
}
.text-counter {
  float: right;
  margin-right: 300px;
  margin-top: -90px;
  width: 100px;
  padding: 0px;

  font-family: $font-kranky;
  font-size: 19px;
}
.hashtaigty-textarea {
  width: 50%;
  height: 8%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -30px;
  padding: 10px;

  font-size: 26px;
  font-family: $font-body;
  border-radius: 10px;
  border: 2px solid $color-secondary-opacity;
}
.hashtaigty-textarea:focus {
  outline-offset: 0;
  outline: none;
}
.hashtagity-options {
  width: 60%;
  margin-left: 20%;
  padding: 10px;

  font-size: 26px;
  color: black;
  font-family: $font-kranky;
}
.hashtagity-convertText-button {
  width: 200px;
  height: 50px;
  margin-left: 42%;
  margin-top: 10px;
  border: 2px solid darkgrey;
  border-radius: 10px;

  background: rgba(65, 12, 69, 1);
  font-size: 32px;
  font-family: $font-kranky;
  color: lightgrey;
  cursor: pointer;
}
.hashtagity-list {
  list-style-type: none;
}

.hashtagity-hash-type-input {
  margin-left: 10px;
}

.view {
  font-size: 24px;
  padding-bottom: 10px;
}
.icons {
  color: $color-secondary-opacity;
  .icon-link {
    color: $color-secondary;
  }
}

.hashtagity-list input.edit {
  display: none;
}

.hashtagity-list .editing .edit-text {
  display: none;
}

.hashtagity-list .editing input.edit {
  width: 200px;
  height: 50px;
  display: inline;

  font-size: 22px;
  font-family: $font-body;
}

.error {
  color: red;
  font-size: 24px;
}
