$color-secondary: rgba(62, 17, 66, 0.75);
$color-orange: #E9AB3B;
$font-heading: 'Fredoka One', monospace;
$font-body: 'Marvel', sans-serif; ;


/* TODO: dont style tags / elements directly.
  put a line of whitespace between presetnationl and structural styles.
  dont use class naemes that describe the content.
  nesting is OK i guess, but you cant re-use nested classes really that well and your
  styles are directly coupled to the DOM. im not a fan of nesting really.
  i find using a unique class name for each thing actually works pretty well
*/
.hashtagity-body {
  background-color: $color-secondary;
  font-family: $font-body;
  font-size: 24px;

  .hashtagity {
    width: 90%;
    margin: 0 auto;
  }

  .hashtagity h1 {
    color: $color-orange;
    font-family: $font-heading;
    letter-spacing: 14px;
    font-size: 86px;
    margin-left: 28%;
    margin-right: 30%;
    padding: 10px;
  }
  .text-counter {
    float: right;
    margin-right: 200px;
  }
  .new-hash-tag {
    width:65%;
    height: 30%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    font-size: 22px;
    font-family: $font-body;
  }
  .hash-options {
    width:65%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    font-size: 26px;
    color: black;
  }
  .create-hash {
    width: 450px;
    height: 50px;
    margin-left: 35%;
    margin-right: 35%;
    border: none;
    border-radius: 10px;
    font-size: 34;
    font-family: $font-heading;
    background-color: $color-orange;
    color: $color-secondary;
  }
  .hashtagity ul {
    list-style-type: none;

    li {
      font-size: 36px;
    }
    .icons {
      i {
        font-size: 32px;
      }
      a {
       color: black;
      }
    }
  }
  .hash-tag-list input.edit {
    display: none;
  }
  .hash-tag-list .editing label {
    display: none;
  }
  .hash-tag-list .editing input.edit {
    width: 200px;
    height: 50px;
    font-size: 22px;
    font-family: $font-body;
    display: inline;
  }
}

.error {
  color: red;
  font-size: 24px;
}
